* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* Header  */
.header {
  width: 100vw;
  height: 100px;
  color: black;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
  height: 100%;
}

.brand {
  font-size: 24px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

/* Main Section Styles */
.main-section {
  position: relative;
  height: calc(100vh - 200px);
  overflow: hidden;
}

.main-content {
  width: 100%;
  height: 100%;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Image Overlay Styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(172, 53, 105, 0.5); */
  background-color: rgba(96, 19, 52, 0.5);
}

/* Title and Button Styles */
.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.title-text {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Animation for Explore text */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.explore-text {
  display: block;
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 0.6rem;
  animation: slideInFromLeft 1s ease-in-out forwards;
}


/* Animation for Description text */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.description-text {
  font-size: 24px;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  transform: translateX(-1.1rem);
  animation: slideInFromRight 1s ease-in-out forwards;
}


/* Animation for Button */
@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
  animation: slideInFromBottom 1s ease-out forwards;
}

.button:hover {
  background-color: #f0f0f0;
}



/* Footer Styles */
.footer {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  letter-spacing: 3px;
  font-weight: 500;
}



/* pop-up */
.hidden-popup {
  display: none;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  z-index: 2;
}

.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.popup-content {
  text-align: center;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
}

.icon {
  font-size: 2rem;
  color: rgb(84, 146, 84);
}

.popup-text {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.close-popup-button{
  padding: 10px 20px;
  background-color: #b32f96;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
}
 

/* Media Query for max-width: 768px */
@media screen and (max-width: 768px) {
  .footer {
    font-size: 20px;
  }

  .explore-text {
    font-size: 3rem;
    letter-spacing: 0.8rem;
  }

  .description-text {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.6rem;
  }

  .button {
    font-size: 16px;
    padding: 8px 16px;
  }
}

/* Media Query for max-width: 500px */
@media screen and (max-width: 500px) {
  .footer {
    font-size: 15px;
  }

  .explore-text {
    font-size: 2rem;
    letter-spacing: 0.6rem;
  }

  .description-text {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.2rem
  }

  .button {
    font-size: 14px;
    padding: 6px 12px;
  }
}


